@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

body {
    /* background-color: #e6e6e6; */
    font-family: 'Lora', serif;
}

header .logo {
    float: left;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 15px;
    background-color: #6dce3a;
}

header .logo a {
    font-size: 32px;
    display: inline-block;
    padding: 5px 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.7px;
}

header .logo a span {
    color: black;
}

header .navbar {
    font-family: 'Lora', serif;
    float: right;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline;
    padding: 0 15px;
}

header .navbar ul li a {
    display: inline-block;
    padding: 10px 0px;
    font-size: 19px;
    /* text-transform: uppercase; */
    color: #333333;
}

header .navbar ul li a:hover {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.bg {
    background-image: url("../images/i4.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 32px;
    /* margin: auto; */
    margin-top: -100px;
    padding-bottom: px;
}

span {
    color: #FFFFFF;
}

.login-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    width: 300px;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-block-end: auto;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.form input,
textarea {
    font-family: "Lora", serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
}

.form button {
    font-family: "Lora", serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 18px;
}

p.message {
    font-size: 40px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
}