@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #e6e6e6;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


/*Header*/

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 15px;
    z-index: 100;
    background-color: #6dce3a;
}

header .logo {
    float: left;
}

header .logo a {
    font-size: 32px;
    display: inline-block;
    padding: 5px 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.7px;
}

header .logo a span {
    color: black;
}

header .navbar {
    /* font-family: 'Lora', serif; */
    float: right;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header .navbar ul li {
    display: inline;
    padding: 0 15px;
}

header .navbar ul li a {
    display: inline-block;
    padding: 10px 0px;
    font-size: 19px;
    /* text-transform: uppercase; */
    color: #333333;
    position: relative;
    text-decoration: none;
}

header .navbar ul li a:hover {
    color: #ffffff;
}

.container1 {
    width: 80%;
    margin: 7rem auto 0;
}

.container1 h2 {
    text-align: center;
    font-family: 'Lore', serif;
    font-size: 1.8rem;
}

.container1 .card-container {
    margin: 0px 0px 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container1 .card-container .card {
    background-color: #f2f2f2;
    border-radius: 0px;
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.container1 .card-container .card img {
    border-radius: 10px;
}

.container1 .card-container .card ul {
    list-style-type: none;
    text-align: center;
}

.container1 .card-container .card .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.2rem;
}

.container1 .card-container .card:not(:last-child) {
    margin-right: 1rem;
}

.container1 .card-container .card button {
    font-family: "Lora", serif;
    text-transform: uppercase;
    outline: 0;
    background: #6dce3a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.container1 .card-container .card a {
    text-decoration: none;
    color: white;
}

.container1 .card-container .card button:hover,
.container1 .card-container .card button:active,
.container1 .card-container .card button:focus {
    background: #43A047;
}


/*Footer*/

footer {
    float: left;
    width: 100%;
    background-color: #6dce3a;
    padding: 10px 0px;
}

footer .footer-content {
    float: left;
    width: 100%;
}

footer .footer-content .box .icon span {
    color: white;
}

footer .social-links {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #6dce3a;
    padding-top: 0px;
}

footer .social-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

footer .social-links ul li {
    display: inline;
}

footer .social-links ul li a {
    display: inline-block;
    padding: 10px 10px;
}

footer .social-links ul li a span {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    transition: all .5s ease;
}

footer .social-links ul li a span:hover {
    background-color: white;
    color: black;
}

footer .footer-content .box {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: center;
}

footer .footer-content .box .icon span {
    color: white;
    font-size: 30px;
}

footer .footer-content .box h4 {
    font-size: 16px;
    color: black;
    margin: 0;
    font-weight: 600;
    /* text-transform: uppercase; */
    padding: 20px 0 0px;
}

footer .footer-content .box p {
    color: black;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0px;
}